body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
display: flex;
flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  align-self: center;
}

html, body {
	height: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	height: 100%;
	padding: 8px;
}

h1 {
  margin: 8px 0;
}

input,
textarea {
  padding: 5px;
}

form button {
  padding: 5px;
}

ul {
  list-style: none;
}

ul {
  padding: 0;
}

li {
  background-color: Cornsilk;
  border: 1px solid BurlyWood;
  border-radius: 5px 2px;
  margin: 8px 0;
}

li div button {
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}

li div button:hover,
li div button:focus {
  box-shadow: 0 0 1px black;
}

li h2 {
  background-color: NavajoWhite;
  margin: 0;
  padding: 4px;
}

li p {
  margin: 8px;
}
